body {
  margin: 0;
  background-color: #313130;
  font-family: 'Maven Pro', sans-serif;
  -webkit-tap-highlight-color: transparent;
  
}

:root {
  --black: #313130;
  --oreng: #ED5A28;
  --cream: #E5D8CE;
}